
@media only screen and (min-width: 200px) {
    .contenedorHome{
        display: flex;
        flex-direction: column;
        max-width: 100vw;
        min-height: 100vh;
        align-items: center;
        background-image: url('../../images/wallpaperbetter.jpg');;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .contenedorHome h3{
      color: white;
    }
    
    .Home{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      margin-top: auto; /* Empujará el pie de página hacia la parte inferior */
      padding-top: 40px; /* Espacio superior para separar de otros elementos */
      padding-bottom: 30px;
      background-image: linear-gradient(to left top, #160bb5, #1c0ba0, #1f0b8c, #1f0a79, #1e0a66);
      width: 100%;
    }

    .footer strong{
      margin:4px;
    }

    .footer img{
      width: 40px;
      height: 40px;
      margin:4px;
      cursor:pointer
     }

     #logoGit{
      width: 35px;
      height: 35px;
     }

     #logoPortafolio{
      height: 36px;
     }

    .paginationContenedor {
        display: flex;
        width: 100%;
        height: 3rem;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      }

      
      .paginationPage{
        margin-top: 1px;
        padding: 6px;
        font-size: 14px;
      }
      
      .paginationContenedor button{
        color: #090909;
        padding: 0.4em 1.3em;
        font-size: 14px;
        border-radius: 0.5em;
        background-color:rgb(243, 238, 238,0.5);
        border: 1px solid #9f9d9d;
        transition: all .3s;
        cursor:pointer;
        
      }

      .paginationContenedor button:hover{
        transition: all 0.3s ease-in-out;
        color: rgb(63, 63, 63)

      }
      
      
      
      .paginationPage {
        display: flex;
        flex-direction: row;
        color: rgb(255, 255, 255);
        list-style-type: none;
      }
    }
    
    @media only screen and (min-width: 600px) {
        .Home{
           width: 100%;

       }
    }
    
    /*Extra large devices(large laptops and desktops, 1200px and up)*/
    @media only screen and (min-width: 1200px) {
       
        .Home{
            width: 90%;
           
            
        }


    
    }